html {
	border: 20px solid #6f6f6f;
	font-family: Georgia;
}

h4 {
	color: green;
	font-family: verdana;
}

#head {
	text-align: center;
	font-family: arial;
	background-color: #C0C0C0;
	border: 10px 5px 0px 5px #C0C0C0 solid;
}

#main {
	padding-left: 30px;
}